    .post-container {
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;
      margin-top:40px;
      position: relative; /* Added */
    }

    .profile-image2 {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .post-info {
      margin-bottom: 10px;
    }

    .post-image {
      max-width: 100%;
      margin-bottom: 10px;
    }

    .post-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .post-buttons button,.cmtlink {
      margin-right: 10px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border: 1px solid #ccc;
    }

    .post-buttons .share-button {
      margin-left: auto;
      margin-right: auto;
    }

    .post-buttons .comment-button {
      margin-left: auto;
      margin-right: auto;
    }
    .post-buttons .cmtlink{
        margin-left:auto;
        margin-right:auto;
      }

    /* Added */
    .menu-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      color: #000;
    }

    .menu-items {
      display: none;
      position: absolute;
      top: 40px;
      right: 0;
      background-color: #fff;
      padding: 5px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .menu-items a {
      display: block;
      padding: 5px 10px;
      color: #000;
      text-decoration: none;
}
