


   body {
      background-color: #007bff;
      color: white;
      font-family: Arial, sans-serif;
    }
    
    .container {
      background-color: #ffffff;
      width: 300px;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
      margin-top:100px;
    }
    
    .input-field {
      width: 100%;
      padding: 10px;
      margin-bottom: 30px;
      box-sizing: border-box;
    }
    
    .login-button {
      background-color: #007bff;
      color: #ffffff;
      padding: 10px;
      width: 100%;
      border: none;
      cursor: pointer;
    }
    
    #signup-link {
      color:#050A00;
      margin-top: 10px;
    }
    #login-text{
    	color:#091200;
    }

    #error-p{
           color:#091200;
       }

    #signup{
    	color:007bff;
         text-decoration:none;
         }
    	
  
     ul{
        color:red;
       }
