
  
    body {
      background-color: #007bff;
      color: white;
      font-family: Arial, sans-serif;
    }
    
    .container {
    	background-color: #ffffff;
      width: 300px;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
      margin-top:50px;
    }
    
    .input-field {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      box-sizing: border-box;
    }
    
    .signup-button {
      background-color: #007bff;
      color: #fff;
      padding: 10px;
      width: 100%;
      border: none;
      cursor: pointer;
      margin-top:20px;
    }
    
    .login-link {
    	color:#091100;
      margin-top: 10px;
    }
    #signup-text{
    	color:#007bff;
      ;
         }
    #login{
    	color:#007bff;
       text-decoration:none;
       }
    
  
